{% extends 'base.html.twig' %}

{% block title %}
    {{ ticket.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-lg-8">

        <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">
            <h1>{{ ticket.title }}</h1>
        </a>

        <p><span class="glyphicon glyphicon-time"></span> Posted on
            {% if ticket.created %}{{ ticket.created|date('Y-m-d H:i:s') }}{% endif %}
        </p>
        <h4> By {{ ticket.owner }}
        </h4>
        <hr>
        <p>Users granted</p>
        {% for user in ticket.user %}
            <ul>
                <li>{{ user.username }}</li>
            </ul>
        {% endfor %}
        <hr>

        <a href="{{ path('ticket_index') }}" class="btn btn-primary right">Back to the list</a>

        <hr>
        {% for role in app.user.roles if role == 'ROLE_ADMIN' %}
            <p>Admins Tasks</p>
            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}" class="btn btn-primary">Edit Ticket</a>

            {{ form_start(delete_form) }}
            <input type="submit" value="Delete Ticket" class="btn btn-primary btn-danger">
            {{ form_end(delete_form) }}
        {% endfor %}

        <hr>

        <div class="well">
            <h4>Leave a Comment:</h4>
            {{ form_start(form, {'action': path('message_new', {'ticketId' : ticket.id}), 'method': 'POST'}) }}
            <div class="form-group">
                <div class="col-xs-6">
                    {{ form_widget(form) }}
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
            {{ form_end(form) }}
        </div>

        <hr>
        <h3>User Comment Example</h3>


        {% for message in messages %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ message.user.username }}</strong> <span class="text-muted">commented
                                {% if ticket.created %}{{ ticket.created|date('Y-m-d H:i:s') }}{% endif %}</span>
                        </div>
                        <div class="panel-body">
                            {{ message.content }}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
                {% for role in app.user.roles if role == 'ROLE_ADMIN' %}
                    <a href="{{ path('message_edit', { 'id': message.id }) }}" class="btn btn-primary">Edit</a>
                {% endfor %}
                <!--
                {{ form_start(delete_form, {'action': path('message_delete', {'id' : message.id }), 'method': 'DELETE'}) }}
                <input type="submit" value="Delete Message" class="btn btn-primary btn-danger">
                {{ form_end(delete_form) }}
                -->
            </div>


            <hr>
        {% endfor %}
    </div>
{% endblock %}