<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Assistance
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ asset('bundles/awesome/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/awesome/css/style.css') }}">
    {% block css %}{% endblock css %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ticket_index') }}">Assistance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Your Roles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for roles in app.user.roles %}
                                <li>{{ roles }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a class="navbar-right" href="{{ path('fos_user_profile_show') }}">{{ app.user }}</a></li>

                    <li><a class="navbar-right" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="navbar-right" href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    <li><a class="navbar-right" href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        {% block body %}
        {% endblock %}
    </div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Assistance 2016</p>
            </div>
        </div>
    </footer>
</div>

<script src="{{ asset('bundles/awesome/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/awesome/js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock js %}

</body>
</html>
